{% extends 'mainapp/base.html' %}

{% block title %}
    <title>Главная</title>
{% endblock %}
{% block content %}
    {% include 'mainapp/includes/inc_menu.html' %}
    {% if user.name == 'daniil' %}
    <div>{{ user.name|title }}</div>
    {% endif %}
    <ul>
        {% for number in arr %}
            <li>{{ number }}</li>
        {% endfor %}
    </ul>
    <h1>Главная</h1>
{% endblock %}
{% for product in products %}
  <div class="block">
    <a href="#">
      <img src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
      <div class="text">
        <h3>{{ product.category.name }}</h3>
        <h4>{{ product.name }}</h4>
        <p>{{ product.description }}</p>
      </div>
    </a>
  </div>
{% endfor %}


